<form action="/suggestion" class="new_thing" id="new_thing" method="post">
  <p>Let us know of anything you can think of that we should do, eat, or see before moving from Portland! We're not sure when we'll be back so send us your favorite things and we'll do our best to do as many on the list as possible! <small>If your suggestion doesn't show up right away, it is because we are filtering for spam. Check back soon and it should be added to the list!</small></p>
  <br>
  <input id="thing_title" name="thing[title]" placeholder="Thing Here" rows="1"></input>
  <br> 
  <select id="thing_tags" name="thing[tags]">
    <option value="EAT">EAT</option>
    <option value="SEE">SEE</option>
    <option vlaue="DO">DO</option>
  </select>
  <br>
  <textarea id="thing_notes" name="thing[notes]" placeholder="Anything we should know about this?"></textarea>
  <br>
  <input id="save-button" name="commit" type="submit" value="Save" />
  <div style="clear: both;"></div>
  <a href="/">&laquo; Home</a>
</form>
